# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/
jspm_packages/

# Build outputs
dist/
dist-ssr/
*.local
out/
target/
*.jar
*.war
*.ear

# IDEs and editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Operating System Files
.DS_Store
Thumbs.db

# Private files / keys
.env
.env.production
.env.development
.env.local
.env.development.local
.env.test.local
.env.production.local
