# Database configuration
DB_HOST=localhost
DB_PORT=3306
DB_NAME=music_player
DB_USER=root
DB_PASS=

# Redis configuration
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASS=

# JWT config (Generate a secure 256-bit key in production)
JWT_SECRET=5367566B59703373367639792F423F4528482B4D6251655468576D5A71347437

# Audius API client identification
AUDIUS_APP_NAME=MyWebMusicPlayer
